.field {
    width: 3vw;
    height: 3vw;
    border: 1px solid black;
    margin: auto;
    line-height: 3vw;
    font-family: 'VT323', monospace;
    font-size: 2.5vw;
}

.selected {
    background-color: orange;
}